<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>User Settings</title>
</head>
<body>

	<div th:replace="fragments/header :: navbar"></div>
	<center>
		<H1>Hospital Settings</H1>

	</center>
			
	<main class="flex-shrink-0">
		<div class="container">
			<form role="form" method="post"
				th:action="@{/maintenance/hospital/save}" th:object=${hospital}>
				<input type="hidden" class="form-control" name="hN" id="hN"
					th:value="${hN}">
				<div class="form-group">
					<label for="formGroupExampleInput">Hospital Name</label> <input
						type="text" disabled class="form-control" id="HospitalName"
						placeholder="User ID" th:field="*{hospitalName}">
<!-- 					<p th:if="${#fields.hasErrors('hosptalName')}" class="text-danger"
						th:errors="*{hospitalName}"></p>
 -->				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Hospital Code</label> <input
						type="text" disabled class="form-control" id="hospitalCode"
						placeholder="HospitalCode" th:field="*{hospitalCode}">
<!-- 					<p th:if="${#fields.hasErrors('hospitalCode')}" class="text-danger"
						th:errors="*{hospitalCode}"></p>
 -->				</div>

				<div class="form-group">
					<label for="formGroupExampleInput2">Address</label> <input
						type="text" disabled class="form-control" id="address1"
						placeholder="Address1" th:field="*{address1}"> <label
						for="formGroupExampleInput2">Address2</label> <input type="text"
						disabled class="form-control" id="Address2" placeholder="address2"
						th:field="*{address2}"> <label
						for="formGroupExampleInput2">Address3</label> <input type="text"
						disabled class="form-control" id="Address3" placeholder="Address3"
						th:field="*{address3}"> <label
						for="formGroupExampleInput2">Address4</label> <input type="text"
						disabled class="form-control" id="Address4" placeholder="address4"
						th:field="*{address4}">
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Country</label> <input
						type="text" disabled class="form-control" id="Country"
						placeholder="Country" th:field="*{country}">
<!--					<p th:if="${#fields.hasErrors('country')}" class="text-danger"
						th:errors="*{country}"></p>
-->				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Contact</label> <input
						type="text" disabled class="form-control" id="ContactName"
						placeholder="Contact Name" th:field="*{contactName}">
<!--					<p th:if="${#fields.hasErrors('contactName')}" class="text-danger"
						th:errors="*{contactName}"></p>
-->				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Telephone</label> <input
						type="text" disabled class="form-control" id="ContactPhone"
						placeholder="Contact Name" th:field="*{contactPhone}">
<!--					<p th:if="${#fields.hasErrors('contactPhone')}" class="text-danger"
						th:errors="*{contactPhone}"></p>
-->				</div>

				<div class="form-group">
					<label for="formGroupExampleInput2">Email</label> <input
						type="email"  disabled class="form-control" id="Email Adddress"
						placeholder="Contact Name" th:field="*{emailAddress}">
<!--					<p th:if="${#fields.hasErrors('emailAddress')}" class="text-danger"
						th:errors="*{emailAddress}"></p>
-->				</div>
				<div>
					<button type="submit" name="action" value="cancel"
						th:formaction="@{/Main}">Cancel</button>
					<button type="submit" disabled class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>